::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:var(--bg-main);

}

::-webkit-scrollbar-thumb{

    background:linear-gradient(
        var(--primary),
        var(--secondary)
    );

    border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

    background:var(--primary-hover);

}